<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CareerGuideAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">Career<span>Guide</span>AI</div>
    <div class="nav-links">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Signup</a>
        <a href="{{ url_for('admin_login') }}">Admin Login</a>
        <a href="{{ url_for('admin_logout') }}" class="logout-btn">Logout</a>
        
       


    </div>
</nav>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer>
    © 2026 CareerGuideAI
</footer>

</body>
</html>
