{% extends "base.html" %}

{% block content %}

<section class="features container">

  <div class="card">
    <div class="icon">☁️</div>
    <h3>Cloud-Based Platform</h3>

    <ul class="card-list">
      <li><strong>Backend:</strong> Flask (Python)</li>
      <li><strong>Frontend:</strong> HTML, CSS</li>
      <li><strong>Deployment:</strong> AWS EC2</li>
      <li><strong>Scalability:</strong> Load Balancer Ready</li>
      <li><strong>Security:</strong> Session-based authentication</li>
    </ul>

  </div>

</section>

{% endblock %}
